@import url('https://fonts.googleapis.com/css?family=Lora|Nanum+Myeongjo|Playfair+Display|Prata|Arapey|Open+Sans+Condensed:300|Belleza|Harmattan|Thasadith|Aguafina+Script|Cookie|Homemade+Apple|Yellowtail|Tinos&display=swap');

p {
  font-family: 'Thasadith', sans-serif;
  font-weight: 400;
}

.title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.1rem;
}